#active {
  background-color: lightgreen;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  text-align: center;
  border: 2px solid green;
}
#disable {
  background-color: orange;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  text-align: center;
  border: 2px solid red;
}

.header{
  border: 2px solid red;

}
#custom-switch{
  width: 35%;
  height: 30px;
  box-shadow: 3px 3px 10px 0px black;
  
}
